@media (max-width: 1440px) {
  .conatiner {
    max-width: 740px;
    .main-info {
      flex-direction: column;
      .main-right {
        border-left: 1px solid #000;
      }
    }
    .header {
      max-width: 700px;
      .header-button {
        display: none;
      }
    }
    .title {
      max-width: 700px;
      img {
        display: none;
      }
    }
    .second-block {
      flex-direction: column;
      border-left: 1px solid #000;
      max-width: 700px;
    }
    .line {
      max-width: 700px;
    }
    .image-block {
      max-width: 700px;
    }
    .lastblock {
      max-height: 448px;
      max-width: 700px;
      .back-back {
        max-height: 630px;
      }
      .back {
        max-width: 660px;
        background-size: 0%;
        max-height: 400px;
      }
    }
    .footer {
      max-width: 700px;
    }
    .items {
      overflow-x: auto;
      overflow-y: hidden;
      max-width: 700px;
      align-items: center;
      .item {
        max-width: 436px;
      }
      .icon-fire {
        display: none;
      }
      .icon-fire-smoll {
        display: none;
      }
      .icon-fire2 {
        display: none;
      }
      .icon-fire-smoll2 {
        display: none;
      }
    }
  }
}

@media (max-width: 740px) {
  .conatiner {
    .lastblock {
      display: none;
    }
    .footer {
      padding: 20px;
    }
    .header {
      .haeder-logo {
        display: none;
      }
    }
  }
}

@media (max-width: 520px) {
  .conatiner {
    .footer {
      flex-direction: column;
      gap: 20px;
      .footer-link {
        display: none;
      }
    }
    .main-info .main-right .main-text-first {
      font-size: 36px;
      line-height: 50px;
    }
    .title {
      font-size: 36px;
      line-height: 50px;
    }
    .second-block .second-left .second-title {
      font-size: 36px;
      line-height: 50px;
    }
    .items {
      padding-right: 0px;
      .item {
        background-position: center;
        max-width: 350px;
        min-width: 278px;
        .item-name {
          font-size: 22px;
        }
      }
      padding-left: 0px;
    }
  }
}

@media (max-width: 420px) {
  .conatiner {
    .footer {
      flex-direction: column;
      gap: 20px;
      .footer-link {
        display: none;
      }
    }
    .second-block .second-right .right-text {
      max-width: 380px;
      gap: 15px;
      p {
        max-width: 280px;
        font-size: 13px;
      }
    }
    .items {
      padding-right: 0px;
      .item {
        background-position: center;
        max-width: 350px;
        min-width: 278px;
        .item-name {
          font-size: 22px;
        }
      }
      padding-left: 0px;
    }

    .header {
      padding: 20px 10px;
    }
    .line {
      overflow-x: auto;
    }
  }
}
